<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block pageTitle %}Welcome!{% endblock %}</title>
        <meta name = "description" content ={% block pageDesc %}{% endblock %}/>
        <meta name ="keywords" content = "portfolio webdevelopera, programista php, tworzenie stron internetowych, sklep internetowy, strona www, serwis internetowy, portfolio"/>
        <meta name="author" content="Robert Saternus">

        <link href="http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ asset('build/img/favicon.ico') }}" type="image/icon">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% block pageBody %}{% endblock %}

        <footer>&copy; {% trans %}Projekt i realizacja{% endtrans %}: Robert Saternus {{ "now"|date("Y") }}</footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>